*.dll
Contracts/obj/
*.nupkg
MassTransitDemo/bin/Debug/MassTransit.Log4NetIntegration.xml
MassTransitDemo/bin/Debug/MassTransit.RabbitMqTransport.xml
MassTransitDemo/bin/Debug/MassTransit.xml
MassTransitDemo/bin/Debug/MassTransitDemo.exe.config
MassTransitDemo/bin/Debug/MassTransitDemo.vshost.exe.config
MassTransitDemo/bin/Debug/MassTransitDemo.vshost.exe.manifest
MassTransitDemo/bin/Debug/Newtonsoft.Json.xml
MassTransitDemo/bin/Debug/log4net.xml
MassTransitDemo/obj/Debug/MassTransitDemo.csproj.FileListAbsolute.txt
Subscriber.Console/bin/Debug/MassTransit.xml
Subscriber.Console/bin/Debug/Newtonsoft.Json.xml
packages/MassTransit.3.4.0/lib/net452/MassTransit.XML
packages/MassTransit.3.4.0/lib/net452/MassTransit.pdb.srcsrv
packages/MassTransit.Log4Net.3.4.0/lib/net452/MassTransit.Log4NetIntegration.dll.config
packages/MassTransit.Log4Net.3.4.0/lib/net452/MassTransit.Log4NetIntegration.pdb.srcsrv
packages/MassTransit.Log4Net.3.4.0/lib/net452/MassTransit.Log4NetIntegration.xml
packages/MassTransit.RabbitMQ.3.4.0/lib/net452/MassTransit.RabbitMqTransport.pdb.srcsrv
packages/MassTransit.RabbitMQ.3.4.0/lib/net452/MassTransit.RabbitMqTransport.xml
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/log4net.2.0.5/lib/net10-full/log4net.xml
packages/log4net.2.0.5/lib/net11-full/log4net.xml
packages/log4net.2.0.5/lib/net20-full/log4net.xml
packages/log4net.2.0.5/lib/net35-client/log4net.xml
packages/log4net.2.0.5/lib/net35-full/log4net.xml
packages/log4net.2.0.5/lib/net40-client/log4net.xml
packages/log4net.2.0.5/lib/net40-full/log4net.xml
packages/log4net.2.0.5/lib/net45-full/log4net.xml
MassTransitDemo/bin/Debug/Publisher.Console.exe.config
MassTransitDemo/bin/Debug/Publisher.Console.vshost.exe.config
MassTransitDemo/obj/Debug/Publisher.Console.csproj.FileListAbsolute.txt
MassTransitDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MassTransitDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MassTransitDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Subscriber.Console/bin/Debug/Subscriber.Console.exe.config
Subscriber.Console/obj/Debug/Subscriber.Console.csproj.FileListAbsolute.txt
Subscriber.Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Subscriber.Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Subscriber.Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Subscriber.Console/bin/Debug/MassTransit.Log4NetIntegration.xml
Subscriber.Console/bin/Debug/MassTransit.RabbitMqTransport.xml
Subscriber.Console/bin/Debug/Subscriber.Console.vshost.exe.config
Subscriber.Console/bin/Debug/Subscriber.Console.vshost.exe.manifest
Subscriber.Console/bin/Debug/log4net.xml
*.suo
