<html ng-app="poller">
<head>
    <title>Poller</title>
    <link href="~/app/css/style.css" rel="stylesheet" />

</head>
<body ng-cloak>
<div class="container">
    <div ng-view></div>
</div>
    <!-- AngulaJS dependencies -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>



    <!-- Local JS includes -->
    <script src="~/app/app.main.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/controllers/app.controller.js"></script>
    <script src="~/app/services/data.service.js"></script>





</body>
</html>

